[pylint]
disable=
    bad-indentation,
    bare-except,
    consider-using-f-string,
    invalid-name,
    line-too-long,
    missing-class-docstring,
    missing-module-docstring,
    multiple-statements,
    no-self-use,
    simplifiable-if-statement,
    singleton-comparison,
    too-many-locals,
    too-many-nested-blocks,
    trailing-newlines,
    trailing-whitespace,
    unknown-option-value,
    unnecessary-semicolon,
    unspecified-encoding,
    unused-argument,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
